body {
    font-family: "Poppins", sans-serif;
    text-align: center;
    background: #0d1117;
    color: white;
    padding: 20px;
}

.title {
    font-size: 2.5rem;
}

.highlight {
    color: #8aff6c;
}

.card {
    background: white;
    color: black;
    width: 320px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 12px;
}

.gif {
    width: 150px;
    margin-bottom: 15px;
}

.btn-container {
    margin-top: 20px;
}

.yes-btn {
    background: #ff2b84;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    font-size: 1.3rem;
    cursor: pointer;
}

.no-btn {
    background: #ddd;
    padding: 10px 18px;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
}
